doctype html
html(lang="en")
    head
        base(href="/")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        include favicon.pug
        title Example
    body
        block content
        ul
            li
                a(href="/") index
            li
                a(href="/error") error
            li
                a(href="/login") login
            li
                a(href="/notfound") notfound


